.BarraDeNavegacao{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    text-align: center;
    background-color: crimson;
    padding-top: 30px;
    padding-bottom: 30px;
}
.BarraDeNavegacao a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-decoration: underline;
}
.Inicio{
    grid-column: 1/1;
    grid-row: 1/1;
}
.Fotos{
    grid-column: 2/2;
    grid-row: 1/1;
}
.Sobre{
    grid-column: 3/3;
    grid-row: 1/1;
}


#saltar {
	position: absolute;
	left: -10000px;
	top: -10000px;
}

#conteudos:focus, #conteudos:active {
	outline:none;
}

#saltar a:focus, #saltar a:active {
	display:block;
	position:absolute;
	top: 10000px;
	left: 10350px;
	background: #fff;
}

body {
    font-size: 16px;
}

.ConteudoDaPagina{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto);
    padding-top: 10px;
}

.Texto1{
    grid-column: 1/4;
    grid-row: 2/2;
    padding-top: 10px;
}

.Banner{
    grid-column: 1/4;
    grid-row: 1/1;
}
.Oquee{
    grid-column: 1/4;
    grid-row: 3/3;
}


html[dark]{
    background-color: black;
}

html[dark] p{
    color: #fff;
}
html[dark] h1{
    color: #fff;
}